*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nova Flat';
    font-size:18px;
    scroll-behavior: smooth;
    /* overflow: hidden; */
    /* border: 3px solid magenta; */
}


body{
    /* width: 100%; */
    /* height: calc(100vh - 79px); */
    background: url("./images/shutterstock_359492192.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: darken;
    background-attachment: fixed;
    /* position: fixed; */
    /* top: 0; */
    /* box-shadow: 1px 1px 10px red; */
    /* border: 5px solid magenta; */
}

.nav{
    
    /* border:3px solid yellow; */
    /* background-color: rgba(4, 44, 6, 0.764); */
    background: rgba(19, 2, 29, 0.755);

    display: flex;
    padding:20px;
    justify-content: flex-end;
    /* gap: 5%; */
    position: fixed;
    top: 0;
    right:0;
    left:0;
    /* margin: auto; */
}
header h3{ 
    /* border: 3px solid yellow; */
    color:white;
    font-size:180%;
    font-family: 'Gruppo';
    margin-right:auto;
}
#menu-lines{
    display:none;
}
.combo{
    display: flex;
    margin-right: auto;
}
header i{
    /* border: 2px solid    yellow; */
    font-size: 2rem;
    /* margin-top: 8px; */
    margin-right: 10px;
    color: white;
    /* text-shadow: 2px 2px 0.3px green; */
}
header ul{
    list-style: none;
    /* border: 3px solid yellow; */
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    
}
/* img{
    display: inline-block;
} */
header li>a{
    /* border:3px solid red; */
    color:white;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.4s;
}
header li>a:hover{
    /* transform: scale(0.4); */
     transform: translateY(-10px);
    border-bottom:2.5px solid yellOW; 
}

.nav a:active{
    color:red;
}

.main-content-1{
    padding: 40px;
    /* background-color: darkgray; */
    
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin-top: 82px;
    margin-left:auto;
    margin-right:auto;
    /* height:calc(100vh - 90px); */
    /* margin:auto; */
    text-align: center;
    /* border: 3px solid red; */
    /* margin-top: 110px; */
    /* margin-left: 110px; */
}
.main-content-1 img{
    padding: 20px;
    /* margin-left: 90px; */
    /* border: 3px solid green; */
    width: auto;
    height: auto;
    /* -ms-flex-order: 1; */
}

#s1 img{
    padding: 0;
    height: 500px;
}

#s2 img, #s3 img, #s4 img{
    /* margin: 80px; */
    height: 500px;
    padding: 80px;
    /* box-shadow: 5px 5px 5px red; */
}

.boximg{
    /* margin: 80px; */
    height: 500px;
    width: 500px;
    padding:0;
    /* border: 3px solid red; */
    /* box-shadow: 5px 5px 5px red; */
}

#s1 img, #s2 img, #s3 img, #s4 img{
    /* margin: 80px; */
    height: 500px;
    /* padding: 80px; */
    /* box-shadow: 5px 5px 5px red; */
}
/* #s3 img, #s4 img{
    /* border-radius: 0 80px; */
    /* box-shadow: 4px 4px 50px gray; */
    /* transition: all 0.8s; */
    /* cursor: pointer;
} */ 



.intro{
    line-height: 2rem;
    /* padding: 20px; */
    width: 50%;
    margin: auto 0;
    /* margin-top:0; */
    /* border: 3px solid rebeccapurple; */
}

.intro_heading{
    /* border: 3px solid teal; */
    color: white;
    font-family: 'Gruppo';
    font-size: 42px;
}
.intro_para{
    padding: 20px;
    color:white;
}

@media (min-width:200px) and (max-width:1180px){

    body{
        margin: 0;
        padding: 10px;
        /* border: 5px solid blue; */
    }
    
    .main-content-1 img{
        /* border: 5px solid teal; */
        /* transform: scale(0.5); */
        z-index: -1;
        padding: 0;
    }
    .boximg{
        width: 100%;
        height: auto;
    }
    #s2 img, #s3 img, #s4 img{
        /* margin: 80px; */
        /* height: 500px; */
        width: 80%;
        height: 80%;
        padding: 0px;
        margin: 10px;
        max-width: 500px; /*for tab size, img gets too big*/
        /* box-shadow: 5px 5px 5px red; */
    }
    .nav{
        display: block;
        z-index: 5;
        padding: 0;
        height: auto;
        background: rgb(19, 2, 29);
    }
    

    .nav ul{
        /* border: 3px solid cyan; */
        display: none;
        text-align: center;
        /* transform: translateX(-320px); */
        /* margin-left:-500%; */
        transition: display 0.4s;
        background-color: transparent;
        /* margin-top: 15px; */
    }
    .nav ul a{
        padding: 10px 0;
    }
    #menu-lines{
        display: block;
    }
    /* #menu-lines:hover{

        transform: translateX(320px);   
    } */
    .combo {
        /* width: 100%; */
        /* border:3px solid teal; */
        display: flex;
        margin: 10px;
        justify-content: flex-start;
        padding: 10px;
        
    }
    
    .main-content-1{
        /* background-color: slategray; */
        display: block;
        /* border: 5px solid red; */
        /* display: unset; */
        padding: 10px;
        max-width: 100%;
        height: auto;
        /* margin-top: 50px; */
    }

    .intro{
        margin: auto;
        width: 100%;
    }
    #jse{
        display: none;
        /* border: 3px solid red; */
        transition: display 4s;
    }
    
    #jse.open{
        display: block;
        box-shadow:0px 20px 10px rgba(19, 2, 29, 0.973);
        /* border-radius: 30px; */
        /* transition: display 4s; */

    }

}