*{  
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nova Flat';
    font-size:18px;
    scroll-behavior: smooth;
    /* overflow: hidden; */
/*     border: 3px solid magenta; */
}


body{
    /* width: 100%; */
    /* height: calc(100vh - 79px); */
    background: url("./images/shutterstock_359492192.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    background-blend-mode: darken;
    background-attachment: fixed;
    /* position: fixed; */
    /* top: 0; */
    /* box-shadow: 1px 1px 10px red; */
    /* border: 5px solid magenta; */
}

.nav{
    
    /* border:3px solid yellow; */
    background-color: rgb(6, 30, 34);
    display: flex;
    padding:20px;
    justify-content: flex-end;
    /* gap: 5%; */
    position: fixed;
    top: 0;
    right:0;
    left:0;
    /* margin: auto; */
}
header h3{ 
    /* border: 3px solid yellow; */
    color:white;
    font-size:180%;
    font-family: 'Gruppo';
    margin-right:auto;
}
header i{
    /* border: 2px solid yellow; */
    font-size: 2rem;
    /* margin-top: 8px; */
    margin-right: 10px;
    color: white;
    /* text-shadow: 2px 2px 0.3px green; */
}
header ul{
    list-style: none;
    /* border: 3px solid yellow; */
    display: flex;
    gap:15px;
    justify-content: center;
    align-items: center;
    
}
/* img{
    display: inline-block;
} */
header li>a{
    /* border:3px solid red; */
    color:white;
    display: inline-block;
    text-decoration: none;
    transition: transform 0.4s;
}
header li>a:hover{
    /* transform: scale(0.7); */
     transform: translateY(-10px);
    border-bottom:2.5px solid yellow; 
}

.nav a:active{
    color:red;
}

.main-content-1{
    padding: 40px;
    /* background-color: darkgray; */
    
    /* overflow: hidden; */
    display: flex;
    justify-content: space-around;
    max-width: 90%;
    margin-top: 82px;
    margin-left:auto;
    margin-right:auto;
    /* height:calc(100vh - 90px); */
    /* margin:auto; */
    text-align: center;
    /* border: 3px solid red; */
    /* margin-top: 110px; */
    /* margin-left: 110px; */
}
.main-content-1 img{
    padding: 20px;
    /* margin-left: 90px; */
    /* border: 3px solid green; */
    width: auto;
    height: auto;
    /* -ms-flex-order: 1; */
}

#s1 img{
    padding: 0;
    height: 500px;
}

#s2 img, #s3 img, #s4 img{
    /* margin: 80px; */
    height: 500px;
    padding: 80px;
    /* box-shadow: 5px 5px 5px red; */
}
/* #s3 img, #s4 img{
    /* border-radius: 0 80px; */
    /* box-shadow: 4px 4px 50px gray; */
    /* transition: all 0.8s; */
    /* cursor: pointer;
} */ 



.intro{
    line-height: 2rem;
    /* padding: 20px; */
    width: 50%;
    margin: auto 0;
    /* margin-top:0; */
    /* border: 3px solid rebeccapurple; */
}

.intro_heading{
    /* border: 3px solid teal; */
    color: white;
    font-family: 'Gruppo';
    font-size: 42px;
}
.intro_para{
    padding: 20px;
    color:white;
}

@media (min-width:200px) and (max-width:1180px){

    body{
        margin: 0;
        padding: 10px;
        border: 5px solid blue;
    }
    .main-content-1 img{
        border: 5px solid teal;
        transform: scale(0.9);
        z-index: -1;
        padding: 0;
    }
    #s3 img{
        /* transform: scale(0.1); */
        margin: 0;
        padding: 0;
    }
    .nav{
        z-index: 5;
    }
    .main-content-1{
        background-color: slategray;
        display: block;
        border: 5px solid red;
        /* display: unset; */
        padding: 10px;
        max-width: 100%;
        height: auto;
        /* margin-top: 50px; */
    }

    .intro{
        margin: auto;
        width: 100%;
    }

}
